@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #f2f3f8;
  font-family: Nunito, Arial, sans-serif;
}

input, button, textarea {
  font-family: Nunito, Arial, sans-serif;
}

.app {
  width: 100%;
  height: 100%;
}

.header {
  height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 15px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  z-index: 5;
  position: relative;
}
.header > h1 {
  color: #627DFE;
  font-size: 1.5rem;
}

.header-actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-left: 30px;
}

.header-action {
  position: relative;
  margin-right: 15px;
}

#ipt-toggle-modal {
  display: none;
}
#ipt-toggle-modal:checked + .btn-toggle-modal {
  box-shadow: 0 0 0 1400px #627DFE;
}
#ipt-toggle-modal:checked + .btn-toggle-modal > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#ipt-toggle-modal:checked ~ .overlay {
  pointer-events: auto;
}
#ipt-toggle-modal:checked ~ .overlay > p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
#ipt-toggle-modal:checked ~ .overlay > span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
#ipt-toggle-modal:checked ~ .overlay > .modal {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  z-index: 5;
}

.btn-toggle-modal {
  position: fixed;
  bottom: 30px;
  left: 50%;
  width: 60px;
  height: 60px;
  background: #627DFE;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
  z-index: 5;
}
.btn-toggle-modal:hover {
  -webkit-transform: translateX(-50%) scale(0.9);
          transform: translateX(-50%) scale(0.9);
}
.btn-toggle-modal > span {
  color: #fff;
  font-size: 2.7rem;
  margin-left: 2px;
  margin-top: -3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.notification {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: #627DFE;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  color: #fff;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 3;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.notification.-is-shown {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 50px;
  -webkit-box-align: center;
          align-items: center;
  pointer-events: none;
}
.overlay > p {
  color: #fff;
  font-size: 1.2rem;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  pointer-events: none;
  z-index: 5;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  font-weight: 600;
}
.overlay > span {
  color: #f2f3f8;
  z-index: 5;
  margin: 15px 5px 0 5px;
  opacity: 0;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
  text-align: center;
}
.overlay > span.-w-animation {
  -webkit-animation: shake 0.5s ease-in-out forwards 1;
          animation: shake 0.5s ease-in-out forwards 1;
}

.modal {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 30px 30px 15px 30px;
  width: 450px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}
@media screen and (max-width: 500px) {
  .modal {
    width: 95%;
  }
}
.modal > label {
  color: #aaa;
  margin-bottom: 10px;
}
.modal > input[type="text"], .modal textarea {
  border: 0;
  border-bottom: 1px solid #f2f3f8;
  margin-bottom: 30px;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal > input[type="text"]:focus, .modal textarea:focus {
  outline: none;
  border-bottom-color: #627DFE;
}
.modal textarea {
  resize: none;
  font-size: 1rem;
  padding: 0;
}
.modal > span {
  color: #aaa;
  margin-bottom: 15px;
}

.priority {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 15px;
}
@media screen and (max-width: 300px) {
  .priority {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}
.priority > label {
  margin: 0 15px 0 2px;
  cursor: pointer;
  color: #333;
}

.modal-btns {
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 15px;
}

.btn-cancel-task {
  background: #fff;
  padding: 15px 0;
  border-radius: 5px;
  text-align: center;
  color: #627DFE;
  cursor: pointer;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  font-size: 1.2rem;
  margin-top: 15px;
  -webkit-box-flex: 1;
          flex: 1;
}
.btn-cancel-task:hover, .btn-cancel-task:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-add-task {
  background: #FBBE41;
  padding: 15px 0;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  font-size: 1.2rem;
  -webkit-box-flex: 1;
          flex: 1;
}
.btn-add-task:hover, .btn-add-task:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.tasks {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 30px 15px;
  -webkit-box-align: center;
          align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 60px);
}

.task {
  padding: 18px 15px 15px 15px;
  margin-bottom: 15px;
  width: 450px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.task.-is-completed {
  background: rgba(0, 196, 121, 0.1);
}
.task.-is-completed .task-status {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  color: #00c479;
}
.task.-is-completed .task-title, .task.-is-completed .task-description {
  text-decoration: line-through;
}
.task.-is-completed .btn-complete-task {
  background: rgba(0, 196, 121, 0.1);
  color: #00c479;
}
.task.-is-removed {
  background: rgba(244, 83, 102, 0.1);
}
.task.-is-removed .task-status {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  color: #F45366;
}
.task.-is-removed .task-description {
  color: rgba(0, 0, 0, 0.2);
}
.task.-is-removed .btn-complete-task {
  background: transparent;
  color: #222;
}
.task.-is-removed .btn-remove-task {
  background: rgba(244, 83, 102, 0.1);
  color: #F45366;
}
@media screen and (max-width: 500px) {
  .task {
    width: 100%;
  }
}
.task.swipe-right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0;
}
.task:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.13);
}

.task-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.left-side {
  width: calc(100% - 100px);
  height: auto;
}
.left-side > ion-icon {
  color: #F45366;
  margin-right: 10px;
}

.task-title {
  font-size: 1.2rem;
}

.right-side {
  width: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-edit-task,
.btn-complete-task,
.btn-remove-task {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  width: 25px;
  height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.btn-edit-task {
  background: rgba(98, 125, 254, 0);
  margin-right: 10px;
}
.btn-edit-task:hover {
  background: rgba(98, 125, 254, 0.1);
  color: #627DFE;
}

.btn-complete-task {
  background: rgba(0, 196, 121, 0);
}
.btn-complete-task:hover {
  background: rgba(0, 196, 121, 0.1);
  color: #00c479;
}

.btn-remove-task {
  background: rgba(244, 83, 102, 0);
  margin-left: 10px;
}
.btn-remove-task:hover {
  background: rgba(244, 83, 102, 0.1);
  color: #F45366;
}

.task-body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.task-description {
  color: #999;
  line-height: 1.5;
  margin-left: 27px;
  display: inline-block;
}

.task-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-left: 27px;
  -webkit-box-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.task-status {
  margin-right: 15px;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
}

.task-timestamp {
  background: #f2f3f8;
  padding: 8px 10px;
  border-radius: 5px;
  z-index: 3;
  font-size: 0.8rem;
  display: inline-block;
  color: #666;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  40% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  80% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  40% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  80% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}